.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 24%
    right: 25%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 41%
  &-3
    animation: float1 3.0s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 30%

.banner-principal__img
  width: 400px !important      

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.imagen-deco
  animation: float1 2.5s ease-in-out infinite alternate
  top: 40%
  right: 50%

figcaption
  border-top: 10px solid #12263F

.lista-ol--cuadro__vineta.color
  background-color: #FC4B52

.imgpestanas 
    background-color: #FEE3E4

.tabs-a__tab 
    background-color: #E8E8E8

.imgslider
  background-image: url('../assets/curso/temas/tema1/fondo.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 45px
  padding: absolute

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    border-color: #FECA2E
    background-color: #FECA2E
    
.cajon.color-primario
  background-color: #FED2D3

.acordion__activo 
    background-color: #F2FBE3

.acordion__accion__btn--a 
  background: #A7E446

.imgslider2
  background-image: url('../assets/curso/temas/tema2/fondo2.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 16px

.slyder-b__img
  border-radius: 0px
  width: 73%
  margin: 4%
  margin-left: 23%
  margin-bottom: 5%

.bg8    
  background-color: #64892A

.tarjeta-avatar
  width: 320px
  height: 400px
@media (max-width:500px)  
  .tarjeta-avatar
    width: 300px
    height: 788px
    

.tarjeta--amarilla-1 
    background-color: #fffcef

.bg20
  background-image: url('../assets/curso/temas/tema3/fondo1.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 16px


.img300
  width: 80%
  margin-left: 15%


.bg50
  background-image: url('../assets/curso/temas/tema3/fondo2.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: center 
  border-radius: 16px

.bg21
  background-image: url('../assets/curso/temas/tema1/fondo2.png')  
  background-repeat: no-repeat
  background-size: 136%
  border-radius: 50px
  width: 500px
@media (max-width:500px)  
  .bg21
    background-size: 100% 100%
    width: 290px



.texedit
  margin-top: -30px


.linea-tiempo-c__header__item__dot
  border: 3px solid #0D2380

.linea-tiempo-c__header__item__line-container:after, .linea-tiempo-c__header__item__line-container:before
  background-color: #0D2380


.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right 

  border: 2px solid #FECA2E
  background-color: #FECA2E




  